@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

@font-face {
    font-family: 'gotham-htf-bold';
    src: url('/assets/Fonts/Gotham/gotham-htf-bold.woff2') format('woff2'),
        url('/assets/Fonts/Gotham/gotham-htf-bold.woff') format('woff'),
}

@font-face {
    font-family: 'gotham-htf-book';
    src: url('/assets/Fonts/Gotham/gotham-htf-book.woff2') format('woff2'),
        url('/assets/Fonts/Gotham/gotham-htf-book.woff') format('woff'),
}

@font-face {
    font-family: 'gotham-htf-light';
    src: url('/assets/Fonts/Gotham/gotham-htf-light.woff2') format('woff2'),
        url('/assets/Fonts/Gotham/gotham-htf-light.woff') format('woff'),
}

@font-face {
    font-family: 'gotham-htf-medium';
    src: url('/assets/Fonts/Gotham/gotham-htf-medium.woff2') format('woff2'),
        url('/assets/Fonts/Gotham/gotham-htf-medium.woff') format('woff'),
}


body {
    color: #fff;
    padding-top: 50px;
    background-image: url("../img/bg-fiap.png");
    background-color: #2d2e2f;
    background-size: cover;

}

header {
    text-align: center;
    width: 100%;
    background-color: #2d2e2f;
    position: fixed;
    top: 0;
    z-index: 999999;

    h1 {
        margin: 20px 140px 20px 20px;
    }

    .content-header {
        display: flex;
        max-width: 1024px;
        margin: 0 auto;

        ul {
            li {
                display: inline-block;
                position: relative;
            }

            a {
                display: inline-block;
                padding: 10px 20px;
                margin: 15px 5px;
                color: #9aadb8;
                font-size: 14px;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'gotham-htf-book';

                &:hover {
                    &:after {
                        width: 40px;
                    }

                }

                &:after {
                    background: #ed145b;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 27px;
                    position: absolute;
                    top: 47px;
                    -webkit-transition: all .4s ease;
                    transition: all .4s ease;
                    width: 10px;
                }
            }
        }

        .btn-login {
            width: 151px;
            height: 35px;
            background: #ed145b;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            font-family: 'gotham-htf-medium';
            color: #000000;
            text-transform: uppercase;
            margin-top: 17px;
            margin-left: 70px;
            transition: box-shadow .2s ease,background-color .2s ease;

            &:hover {
                background-color: #ed145b;
                box-shadow: 0 0 20px #ed145b;
            }
        }
    }
}

.container {
    max-width: 1024px;
    margin: 0 auto;

    .session-init {
        display: flex;
        justify-content: center;
        margin-top: 70px;
        flex-direction: column;
        align-items: center;

        .arrow-conceito {
            margin-top: 228px;
            margin-bottom: 290px;
        }
    }

    #conceito {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 36px;
            line-height: 52px;
            font-family: 'gotham-htf-light';
            text-align: center;
            color: #cee7f5;
            margin-bottom: 70px;

            strong {
                font-family: 'gotham-htf-bold';
            }
        }

        p {
            font-size: 15px;
            font-family: 'gotham-htf-book';
            color: #cee7f5;
            text-align: center;
            line-height: 32px;
        }

        .join-us {
            margin-top: 160px;
            margin-bottom: 180px;
        }
    }

    #fotos {
        position: relative;
        margin-bottom: 220px;

        h1 {
            text-align: center;
            font-family: 'gotham-htf-medium';
            font-size: 32px;
            text-transform: uppercase;
            color:#91a3ad;
            margin-bottom: 110px;


            &:after {
                background: #ed145b;
                content: "";
                display: block;
                height: 6px;
                left: 48%;
                position: absolute;
                top: 47px;
                -webkit-transition: all .4s ease;
                transition: all .4s ease;
                width: 34px;
            }
        }
        div {
            margin-top: 40px;

        }
    }
}

